{% extends 'layout.html.twig' %}

{% block title %}
	Contact
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/style-admin.css">
{% endblock %}

{% block content %}

	<!-- Back button -->
	<div>
		<a class="my-3 btn btn-warning" href="/admin">Retour</a>
	</div>

	<!-- Database rows -->
	<table class="my-4 table table-sm table-striped table-bordered">
		<thead>
			<th>Client</th>
			<th>Coordonnées</th>
			<th>Sujet</th>
			<th>Message</th>
		</thead>

		<tbody>
			{{dump(contacts)}}
			{% for contact in contacts %}
				<tr>
					<td>{{contact.firstname ~ " " ~ contact.lastname }}</td>
					<td>{{contact.email ~ " - " ~ contact.number}}</td>
					<td>{{contact.subject}}</td>
					<td>{{contact.message}}</td>

				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
