{% extends 'layout.html.twig' %}

{% block title %}
	Contact
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/style-admin.css">
{% endblock %}

{% block content %}

	<!-- Back button -->
	<div>

		<a class="ms-2 my-3 btn btn-warning" href="/admin">Retour</a>

	</div>

	<!-- Database rows -->
	<table class="my-4 table table-sm table-striped table-bordered">
		<thead>
			<th>Client</th>
			<th>Coordonnées</th>
			<th>Sujet</th>
			<th>Message</th>

			<th>Action</th>

		</thead>

		<tbody>
			{% for contact in contacts %}
				<tr>

					<td class="col-2">{{contact.firstname ~ " " ~ contact.lastname }}</td>
					<td class="col-3">{{contact.email ~ " - 0" ~ contact.number}}</td>
					<td class="col-1">{{contact.subject}}</td>
					<td class="col-4">{{contact.message}}</td>
					<td class="col-1">
						<a class="btn btn-danger" href="/admin/delMessage?id={{contact.id}}">
							Supprimer
						</a>
					</td>

				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
