<div class="modal fade" id="show-modal-{{ modalId }}" tabindex="-1" aria-labelledby="show-modal-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="show-modal-label">Activités pour ce jour</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-body d-flex flex-wrap">
				{% for event in eventsForDay %}

					{% if eventsForDay|length == 1 %}

						<a href="/activity/register?id={{event.id}}" class="selector btn btn-sm col-12 py-2 {{"calendar__" ~ event.type}}">
							{{event.type}}
						</a>
					{% else %}

						<a href="/activity/register?id={{event.id}}" class="selector btn btn-sm col-6 py-2 {{"calendar__" ~ event.type}}">
							{{event.type}}
						</a>
					{% endif %}

				{% endfor %}
			</div>
		</div>
	</div>
</div>