
<div class="calendar">
	<div class="d-flex flex-row align-items-center justify-content-between my-2 mx-3">
		<h1 style="height: 50px;" class="m-0 py-1">
			{{ calendarInfo.selectedMonthYear }}
		</h1>

		<div>
			<a href="/activity?month={{calendarInfo.previousMonth}}&year={{calendarInfo.previousYear}}" class="btn btn-primary">&lt;</a>
			<a href="/activity" class="btn btn-primary">Aujourd'hui</a>
			<a href="/activity?month={{calendarInfo.nextMonth}}&year={{calendarInfo.nextYear}}" class="btn btn-primary">&gt;</a>
		</div>
	</div>

	<table class="calendar__table">
		{% for i in 0..(calendarInfo.weeks - 1) %}

			<tr>
				{% for day in calendarInfo.days %}

					{% set addDays = loop.index0 + i*7 %}
					{% set firstDayModified = calendarInfo.firstDay|date_modify("+" ~ addDays ~ " day") %}
					{% set sameMonth = firstDayModified|date('m') == calendarInfo.actualMonth|date('m') %}
					{% set eventsForDay = eventsForDays[firstDayModified|date('Y-m-d')] ?? null %}

					<td class="{{(sameMonth) ? '' : 'calendar__othermonth'}}">
						{% if i == 0 %}

							<div class="calendar__weekday d-none d-sm-block align-start">
								{{ day }}
							</div>

						{% endif %}

						<div class="d-flex flex-column h-100 justify-content-between">
							<div class="calendar__day">
								{{ firstDayModified|date('d') }}
							</div>

							<div class="calendar__event d-flex flex-column flex-wrap align-items-end">
								{% if eventsForDay|length < 4 %}

									{% for event in eventsForDay %}

										<a href="/activity?id={{event.id}}" class="btn btn-sm btn-secondary py-0 calendar__event">
											{{event.name}}
										</a>

									{% endfor %}

								{% else %}

									<button type="button" 
											class="btn btn-sm btn-secondary py-0 m-0" 
											data-bs-toggle="modal" 
											data-bs-target="#show-modal-{{loop.index0 }}">
										Cours et stages
									</button>

									{% include 'Components/_calendar_modal.html.twig' with {
										'modalId': loop.index0,
										'eventsForDay': eventsForDay
									}%}
								{% endif %}
							</div>
						</div>
					</td>

				{% endfor %}
			</tr>

		{% endfor %}
	</table>
</div>
