{% extends 'layout.html.twig' %}

{% block title %}
	Inscription
{% endblock %}

{% block javascript %}
	<script>
		const activitySelect = document.querySelector('[name="activity"]');

if (activitySelect) {
activitySelect.addEventListener('change', e => {
let location = '/activity/register';

if (e.currentTarget.value) {
location += '?activity=' + e.currentTarget.value;
}

document.location = location;
})
}

{% if hasRegistered %}
const hasRegisteredModalElement = document.getElementById('registerModal');
const hasRegisteredModal = new bootstrap.Modal(hasRegisteredModalElement);

// Redirection vers la page des activité à la fermeture de la modale de confirmation d'inscription
hasRegisteredModalElement.addEventListener('hide.bs.modal', event => {
document.location = '/activity';
});

hasRegisteredModal.show();{% endif %}
	</script>
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/style-activity.css">
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css.map">
	<link rel="stylesheet" href="../package/swiper-bundle.min.css">
	<link rel="stylesheet" href="/assets/css/style-calendar.css">
{% endblock %}
{% block content %}
	<h1 class=" inscription my-3 mt-5 text-center text-secondary">Inscription</h1>
	<p class="text-primary mx-4 fs-5 my-3" style="text-align:center">Choisissez une activité à laquelle vous souhaitez vous inscrire</p>

	<div class="container row mx-auto">
		<div class="{{ planning ? '' : 'd-none' }} col-11 col-xl-6 my-2 mx-auto" style="">
			<div class="row justify-content-between ">
				{% for activity in activityType %}

					{% if selectedActivity and selectedActivity == activity.id %}
						{% include 'Components/_card_activity_register.html.twig' with {
							'src': 'assets/images/' ~ activity.type ~ '-' ~ activity.name ~ '.png',
							'type': activity.type,
							'description': description[activity.id],
							'price': activity.price,
							'name': activity.name,
							'loopIndex': loop.index,
							'id': activity.id
							} %}
					{% endif %}
				{% endfor %}
			</div>
		</div>

		<div class="col-11 col-xl-6 my-2 mx-auto">
			<form method="POST" id="contactForm" class="contactForm">
				<div class="row">
					<div class="col-md-12 mb-4">
						<div class="form-group">
							<select id="select-activity" name="activity" class="form-select" aria-label="Default select example" required>
								<option selected value="">Choisissez votre type d'activité</option>

								{% for activity in activityType %}
									<option value="{{ activity.id }}" {% if selectedActivity and selectedActivity == activity.id %} selected {% endif %}>
										[{{ activity.type }}]
										{{ activity.name }}
									</option>
								{% endfor %}
							</select>
						</div>
					</div>

					<div class="col-md-12 my-4">
						<div class="form-group">
							<select class="form-select" name="datetime" aria-label="Default select example" required>
								{% if planning is not empty %}
									<option selected value="">Choisissez votre date et créneau horaire</option>
									{% for date in planning %}
										<option value="{{ date.id }}">
											{{ "le " ~ date.start_at|date('d/m/Y à H:i') ~ " - " ~ (date.capacity - date.nb_register) ~ " places" }}
										</option>
									{% endfor %}
								{% else %}
									<option selected>Veuillez sélectionner un type d'activité</option>
								{% endif %}
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="label" for="firstname"></label>
							<input type="text" class="form-control" name="firstname" id="firstname" placeholder="Prénom" required>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="label" for="lastname"></label>
							<input type="text" class="form-control" name="lastname" id="lastname" placeholder="Nom" required>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label class="label" for="email"></label>
							<input type="email" class="form-control" name="email" id="email" placeholder="Adresse email">
						</div>
					</div>

					{% for error in errors %}
						<div class="alert alert-danger mt-3 text-center" role="alert">
							{{error}}
						</div>
					{% endfor %}

					<div class="col-md-12">
						<div class="form-group text-center">
							<button type="submit" class="btn btn-primary mt-3">
								Envoyer
							</button>
						</div>
					</div>
				</div>
			</form>
			<div class="col-md-5 d-flex align-items-stretch">
				<div class="info-wrap w-100 p-5 img"></div>
			</div>
		</div>
	</div>


	<!-- Modal -->
	<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="registerModalLabel">Inscription</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					Merci pour votre inscription, nous avons hâte de vous voir !
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
