{% extends 'layout.html.twig' %}

{% block javascript %}
	<script>
		document.querySelector('[name="activity"]').addEventListener('change', e => {
			document.location = '/activity/register?activity=' + e.currentTarget.value;
		})
	</script>
{% endblock %}

{% block content %}

	<h1 class=" inscription my-3 text-center text-secondary">Inscription</h1>
	{# <p class="text-primary mx-4 fs-5 my-4" style="text-align:center">Ce poney-club, proche d'Orléans, met à la disposition de vos enfants une cavalerie adaptée à leur niveau ainsi que des installations qui leur permettront de pratiquer l’équitation en toute sécurité.</p>
	<p class="text-primary mx-4 fs-5 my-4" style="text-align:center">Les plus jeunes pourront apprendre à monter tout en s'amusant, d'abord avec de petits poneys, bien à leur taille, puis sur des montures plus grandes.</p> #}
	<p class="text-primary mx-4 fs-5 my-3" style="text-align:center">Choisissez une activité à laquelle vous souhaitez vous inscrire</p>

	<div class="" style="text-align:center">

		<div class="row justify-content-evenly">
			{% for activity in activityType %}
				<div class="col-5 col-sm-4 col-md-3 mx-1 mx-sm-2 mb-3 p-0 bg-primary" style="box-shadow: 10px 10px 10px gray;">	
					
						{# <img src="/recup_photos/pexels-alexander-dummer-1364073.jpg"> #}
						<div  class="bg-primary text-light p-1">
							<p class="text-capitalize">{{activity.type}}</p>
							<p>Tarif : {{activity.price}} €</p>
						</div>
					
				</div>
			{% endfor %}
		</div>

	</div>


	<div class="container col-11 col-lg-5">
		<form method="POST" id="contactForm" name="contactForm" class="contactForm">
			<div class="row">

				<div class="col-md-12 my-4">
					<div class="form-group">
						<select id="select-activity" name="activity" class="form-select" aria-label="Default select example" required>
							{% if planning is empty %}
								<option selected value="">Choisissez votre type d'activité</option>
							{% endif %}
							{% for activity in activityType %}
								<option value="{{ activity.id }}" {% if selectedActivity and selectedActivity == activity.id %} selected{% endif %}>
									{{ activity.type }}
								</option>
							{% endfor %}
						</select>
					</div>
				</div>

					<div class="col-md-12 my-4">
						<div class="form-group">
							<select class="form-select" name="datetime" aria-label="Default select example" required>
								{% if planning is not empty %}
									<option selected value="">Choisissez votre date et créneau</option>
									{% for date in planning %}
										<option value="{{ date.id }}">{{ date.start_at|format('d/m/Y') }}</option>
									{% endfor %}
								{% else %}
									<option selected>Veuillez sélectionner un type d'activité</option>
								{% endif %}
							</select>
						</div>
					</div>
				
				<div class="col-md-6">
					<div class="form-group">
						<label class="label" for="firstname"></label>
						<input type="text" class="form-control" name="firstname" id="firstname" placeholder="Prénom" required>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="label" for="lastname"></label>
						<input type="text" class="form-control" name="lastname" id="lastname" placeholder="Nom" required>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label class="label" for="email"></label>
						<input type="email" class="form-control" name="email" id="email" placeholder="Adresse email">
					</div>
				</div>

				{% for error in errors %}
					<div class="alert alert-danger mt-3 text-center" role="alert">
						{{error}}
					</div>
				{% endfor %}

				<div class="col-md-12">
					<div class="form-group text-center">
						<input type="submit" value="Envoyer" class="mt-3 btn btn-primary">
						<div class="submitting"></div>
					</div>
				</div>
			</div>
		</form>
		<div class="col-md-5 d-flex align-items-stretch">
			<div class="info-wrap w-100 p-5 img"></div>
		</div>
	</div>

		


	
{% endblock %}
